@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    max-width: 1200px;
    margin: 0 auto;
}
:root {
    --bg-light: #ffffff;
    --bg-dark: #1a202c;
    --text-light: #1a202c;
    --text-dark: #ffffff;
}

.dark {
    --bg-light: #1a202c;
    --bg-dark: #ffffff;
    --text-light: #ffffff;
    --text-dark: #1a202c;
}
